<nav class="window-tabs" data-group="primary">
  <button type="button" class="tab" data-tab="relay" data-group="primary">
    <i class="fas fa-tower-broadcast"></i>
    {{localize "discord-relay.tabs.relay"}}
  </button>
  <button type="button" class="tab" data-tab="guide" data-group="primary">
    <i class="fas fa-book"></i>
    {{localize "discord-relay.tabs.guide"}}
  </button>
</nav>