<nav class="window-tabs tabs" data-group="primary">
  <button type="button" class="item" data-group="primary" data-tab="relay">
    <i class="fas fa-tower-broadcast"></i>
    <span>{{localize "discord-relay.tabs.relay"}}</span>
  </button>
  <button type="button" class="item" data-group="primary" data-tab="guide">
    <i class="fas fa-book-open"></i>
    <span>{{localize "discord-relay.tabs.guide"}}</span>
  </button>
</nav>
